@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');

.bg{
        background-image: url('./img/Sub\ Container\ \(1\).png');
        background-size: cover;
        background-repeat: no-repeat; 
        margin: 0 auto;
        background-size: cover;
        background-position: center ;
        height: 656px;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
body{
background: #141414;
}
.card{
    background:  linear-gradient(221deg, rgba(229, 0, 0, 0.50) 0%, rgba(229, 0, 0, 0) 81%);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border:1px #262626 solid;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    margin-bottom: 50px;
    cursor: pointer;
}
::placeholder{
    color: white;
}
.hr{
    border: 1px #E50000 solid;
    background: linear-gradient(#E5000000, #E50000, #E5000000);
}